<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

    <body id="tat-ca-san-pham" class="template-collection">
        <% include partials/header %>

            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">
                                   <%= i18n.__("all products")%>
                                </p>
                                <a href="/" title="Quay trở về trang chủ"><%= i18n.__("nav_home")%></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span><%= i18n.__("nav_products")%></span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper collection">
                        <div class="grid--rev">
                            <div class="grid__item">
                                <div class="grid-uniform product-list">

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/cb" class="img-resize">
                                                    <img src="/img/product/cb.jpg" alt="CB Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/cb" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            CB
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/cnfj" class="img-resize">
                                                    <img src="/img/product/cnfj.jpg" alt="CNFJ Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/cnfj" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            CNFJ
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/evf" class="img-resize">
                                                    <img src="/img/product/evf.jpg" alt="EVF Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/evf" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            EVF
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/fa" class="img-resize">
                                                    <img src="/img/product/fa.jpg" alt="FA Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/fa" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            FA
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/gel" class="img-resize">
                                                    <img src="/img/product/gel.jpg" alt="GEL Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/gel" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            gel
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/gfm" class="img-resize">
                                                    <img src="/img/product/gfm.jpg" alt="GFM Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/gfm" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            GFM
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/hr" class="img-resize">
                                                    <img src="/img/product/hr.jpg" alt="HR Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/hr" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            HR
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="/products/mf" class="img-resize">
                                                    <img src="/img/product/mf.jpg" alt="MF Series">
                                                </a>
                                                <div class="product--loop__info">
                                                    <a href="/products/mf" class="product-name">
                                                        <h2 class="product--loop__title">
                                                            MF
                                                        </h2>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <% include partials/footer %>
                <% include partials/scripts %>
    </body>

</html>