<!DOCTYPE html>
<html lang="en">
<% include partials/head %>

    <body id="dich-vu" class="template-blog">
        <% include partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <!--Section Breadcumb -->
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">Services</p>
                                <a href="/" title="Quay trở về trang chủ">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>Services</span>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- \\Breadcumb -->
                <main class="main-content" role="main">
                    
                    <section id="home-services" style="margin-bottom: 0px;">
                        <div class="wrapper">
                            <div class="inner">
                                <div class="grid">
                                    <h1 class="seo-h1"></h1>
                                    <div class="grid__item large--four-twelfths medium--six-twelfths small--one-whole">
                                        <a href="/blogs/dich-vu/cong-nghe" class="service-wrapper wow animated fadeInDown">
                                            <div class="service-img">
                                                <img src="//file.hstatic.net/1000180294/article/plumbing-services_b499d1854bc3488ca5e4102428a2d84f_large.png" class="img-resize-2"
                                                    alt="Tư vấn thiết bị lọc nước" />
                                            </div>
                                            <p class="service-title">
                                                Tư vấn thiết bị lọc nước
                                            </p>
                                            <div class="rte">
                                                <p>
                                                    <span>Các sản phẩm&nbsp;lọc nước của Suplo&nbsp;luôn là số một trên toàn cầu
                                                        trên mọi khía cạnh từ thiết kế đến công nghệ và độ bền, là lựa chọn
                                                        lý tưởng cho các công trình giáo dục, y tế, văn phòng, thể thao,
                                                        giải trí, nghỉ dưỡng, thương mại và các khu vực có mật độ và tần
                                                        suất sử dụng cao.</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="grid__item large--four-twelfths medium--six-twelfths small--one-whole">
                                        <a href="/blogs/dich-vu/quan-ly-cua-hang" class="service-wrapper wow animated fadeInDown">
                                            <div class="service-img">
                                                <img src="//file.hstatic.net/1000180294/article/plumber_large.png" class="img-resize-2" alt="Lắp đặt thiết bị lọc nước" />
                                            </div>
                                            <p class="service-title">
                                                Lắp đặt thiết bị lọc nước
                                            </p>
                                            <div class="rte">
                                                <p>
                                                    <span> Chúng tôi đặt tri thức, sự tinh tế vào trong từng sản phẩm, đảm bảo sự
                                                        tiện lợi, tính thẩm mỹ, vệ sinh và an toàn. Sản phẩm lọc nước của
                                                        chúng tôi được sử dụng trên toàn thế giới, từ những khu Resort cao
                                                        cấp nhất của Châu Mỹ, Châu Âu, cho đến từng căn hộ, biệt thự tại
                                                        Việt Nam.</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="grid__item large--four-twelfths medium--six-twelfths small--one-whole">
                                        <a href="/blogs/dich-vu/tu-van-chien-luoc" class="service-wrapper wow animated fadeInDown">
                                            <div class="service-img">
                                                <img src="//file.hstatic.net/1000180294/article/nj-plumber_large.png" class="img-resize-2" alt="Bảo hành và sửa chữa" />
                                            </div>
                                            <p class="service-title">
                                                Bảo hành và sửa chữa
                                            </p>
                                            <div class="rte">
                                                <p>
                                                    <span>Với đội ngũ kỹ sư và kỹ thuật viên được đào tạo chuyên sâu, giàu kinh
                                                        nghiệm được trang bị dụng cụ đồ nghề chuyên dùng, chúng tôi cung
                                                        cấp đầy đủ các dịch vụ bảo hành, sửa chữa cho tất cả các dòng sản
                                                        phẩm lọc nước dân dụng, thương mại và công nghiệp.</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="pagination-custom">
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            <% include partials/footer %>
                <% include partials/scripts %>
    </body>

</html>