<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>
        <% include ../partials/header %>

            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">
                                    <%=i18n.__("opening-2018")%>
                                </p>
                                <a href="/" title="Home">
                                    <%=i18n.__("nav_home")%>
                                </a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/csr" title="">
                                    <%=i18n.__("nav_csr_long")%>
                                </a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>
                                    <%=i18n.__("opening-2018")%>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper collection">
                        <div class="grid--rev">
                            <div class="grid__item">
                                <div class="grid-uniform product-list">

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0162.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0091.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0092.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0149.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0148.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0101.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid__item large--one-third medium--one-half small--one-half">
                                        <div class="product--loop">
                                            <div class="inner">
                                                <a href="#" class="img-resize">
                                                    <img class="popup-img" src="/img/news/new-year-2018/IMG_0119.jpg" alt="Year End Party 2017">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- The Close Button -->
                    <span class="close">&times;</span>

                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                </div>
            </div>
            <% include ../partials/footer %>
                <% include ../partials/scripts %>
    </body>

</html>