<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">CB</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>CB</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/cb.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/cb.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/cb.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <h1 itemprop="name">CB Series ( 0.8AH – 250AH) </h1>
                                        <span class="product-sku">
                                            Features:
                                            <ul>
                                                <li>
                                                    Capacity Range (C20): 0.8Ah-250Ah (25 ℃)
                                                </li>
                                                <li>
                                                    Voltage range: 12V
                                                </li>
                                                <li>
                                                    Self-discharge: ≤2% / month (25 ℃)
                                                </li>
                                                <li>
                                                    Excellent high rate discharge performance
                                                </li>
                                                <li>
                                                    Long life design: Battery of 20Ah is five years while 20Ah is 10 years (Under 25 ℃)
                                                </li>
                                                <li>
                                                    Efficiency of recombination: ≥98%
                                                </li>
                                                <li>
                                                    Operating temperature range:-15 ℃ ~ 45 ℃
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="grid__item large--one-twelfths">
                                        <h1>Product Details</h1>
                                        <hr>
                                        <h1>Application</h1>
                                        <ul>
                                            <li>
                                                Floating Charge
                                            </li>
                                            <li>
                                                Communications and power equipment
                                            </li>
                                            <li>
                                                Emergency lighting equipment
                                            </li>
                                            <li>
                                                Security and alarm system
                                            </li>
                                            <li>
                                                GPS
                                            </li>
                                            <li>
                                                Office use computer, microcomputer processor and OA equipment
                                            </li>
                                            <li>
                                                UPS / EPS power supply
                                            </li>
                                            <li>
                                                Power plants substation
                                            </li>
                                            <li>
                                                Medical equipment
                                            </li>
                                        </ul>
                                        <h1>Cycle Application</h1>
                                        <ul>
                                            <li>
                                                Portable power
                                            </li>
                                            <li>
                                                VCR, radio, etc.
                                            </li>
                                            <li>
                                                Electric toys
                                            </li>
                                            <li>
                                                Electric Tools e.g. Lawn Mower, Vacuum Cleaner, Camera etc.
                                            </li>
                                            <li>
                                                Portable measuring device
                                            </li>
                                            <li>
                                                Lighting equipment
                                            </li>
                                            <li>
                                                Various types of signaling system

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>