<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">CNFJ</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>CNFJ</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/cnfj.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/cnfj.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/cnfj.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <h1 itemprop="name">CNFJ Series ( 0.8AH – 250AH) </h1>
                                        <span class="product-sku">
                                            Features:
                                            <ul>
                                                <li>
                                                    Capacity Range (C120): 200Ah-3000Ah (25 ℃)
                                                </li>
                                                <li>
                                                    Long cycle life: 20% DOD cycle times of 2V Series is more than 2200 (Under 25 ℃)
                                                </li>
                                                <li>
                                                    Self-discharge: ≤1% / month (25 ℃)
                                                </li>
                                                <li>
                                                    Efficiency of sealed reaction: ≥99%
                                                </li>
                                                <li>
                                                    Compact structure, anti-vibration performance and high energy density
                                                </li>
                                                <li>
                                                    Good performance in high and low temperature
                                                </li>
                                                <li>
                                                    Operating temperature range: -20 ~ 50 ℃
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                    <div class="grid__item large--one-twelfths">
                                        <h1>Product Details</h1>
                                        <hr>
                                        <h1>Scope</h1>
                                        <p>Solar photovoltaic energy storage system </p>
                                        <p>Energy storage system of wind power </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>