<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">EVF</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>EVF</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/evf.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/evf.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/evf.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <span class="product-sku">
                                            <ul>
                                                <li>
                                                    Large capacity with high-current discharge performance
                                                    <p>Batteryusing quality material with large capacity and high-current discharge
                                                        performance.</p>
                                                </li>
                                                <li>
                                                    Good discharge acceptance under low temperature
                                                    <p>Batteryhas good discharge acceptance under low temperature so as to avoid
                                                        the battery life getting affected in winter days.</p>
                                                </li>
                                                <li>
                                                    Maintenance free
                                                    <p> Batteryis made by valve type sealed structure which can prevent the water
                                                        loss during using. No water replenishment is required.</p>
                                                </li>
                                                <li>
                                                    Recovery of over discharging
                                                    <p>Produced by the advanced formula of grid alloy and lead plaster, which
                                                        conductive grid and active material can be more closely integrated.</p>
                                                </li>
                                                <li>
                                                    High-current discharge performance
                                                    <p>Copper-insert terminal post makes the wire connection more solid and
                                                        reliable as well as more conducive to high-current discharge of the
                                                        battery.</p>
                                                </li>
                                                <li>
                                                    Better consistency
                                                    <p>Increase the stability of multi-cell battery system with the consistency
                                                        by using the advanced craftsmanship and technology.</p>
                                                </li>
                                                <li>
                                                    Environmental friendly
                                                    <p>No leaking batteries (Electrolyte and Water) due to reliable sealed structure
                                                        design.</p>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>