<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">GFM</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>GFM</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/gfm.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/gfm.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/gfm.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <span class="product-sku">
                                            <h1>Application</h1>
                                            <ul>
                                                <li>
                                                    Tel - Communications and backup power
                                                </li>
                                                <li>
                                                    Optical fiber and cell site station
                                                </li>
                                                <li>
                                                    Switch gear control in substation
                                                </li>
                                                <li>
                                                    Power, standby power station
                                                </li>
                                                <li>
                                                    Solar energy, wind power energy systems
                                                </li>
                                                <li>
                                                    Fire and security system
                                                </li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="grid__item large--one-twelfths">
                                        <h1>Product Details</h1>
                                        <br>
                                        <span>GFM (2 V series)</span>
                                        <br>
                                        <span>Features </span>
                                        <br>
                                        <span>(A) .Long life</span>
                                        <p>
                                            High intensity tight assembly process improves battery assembly tightness and prevents loss of active material so as to enhance
                                            battery life. To adjust the density of electrolyte can improve charge acceptance
                                            and enhance battery deep discharge cycle capability. Increasing the amount of
                                            acid designed to ensure the battery electrolyte depletion will not shorten battery
                                            life. So the normal float design life GFM series battery can be upgraded up to
                                            at least 15 years (25%)
                                        </p>
                                        <br>
                                        <span>(B) Excellent high rate discharge performance</span>
                                        <p>
                                            High intensity tight assembly process, it can maintain a very low internal resistance and provide high and excellent current
                                            discharges than conventional batteries by 20%.
                                        </p>
                                        <br>
                                        <span>(C) Low self-discharge</span>
                                        <p>
                                            Our high purity raw materials characteristics and low internal resistance design of the battery can be stored at room temperature
                                            for six months without having a recharge process.
                                        </p>
                                        <br>
                                        <span>(D) Friendly Maintenance</span>
                                        <p>
                                            Special oxygen absorption designed to overcome the less electrolyte water loss during the charging process. There is almost
                                            no loss in the water content of the electrolyte, therefore the battery can be
                                            maintained easily without replenishment of electrolyte.
                                        </p>
                                        <br>
                                        <span>(E) Safety </span>
                                        <p>
                                            Special safety valve equipped internally of the battery can effectively isolate external spark and does not cause the battery
                                            internal explosion.
                                        </p>
                                        <br>
                                        <span>(F) Installation is simple</span>
                                        <p>
                                            Battery can be installed vertically and horizontally in small footprint installation, which is flexible and convenient.
                                        </p>
                                        <br>
                                        <span>(G) Environmental Friendly </span>
                                        <p>
                                                The battery does not emit acid mist, it will not affect environment and corrosion of the site area, and it can be installed directly to the battery in the office or equipment room with ventilation normal. 
                                        </p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>