<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

    <body>

        <% include ../partials/header %>
            <div id="PageContainer" class="is-moved-by-drawer">
                <section id="breadcrumb">
                    <div class="wrapper">
                        <div class="inner">
                            <div class="breadcrumb-content">
                                <p class="breadcrumb-title">HR</p>
                                <a href="/" title="Back to Home">Home</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <a href="/products" title="">Products</a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span>HR</span>
                            </div>
                        </div>
                    </div>
                </section>

                <main class="main-content" role="main">
                    <div class="wrapper">
                        <div class="grid grid-rev">
                            <div class="grid__item product-single large--three-quarters">
                                <div class="grid">
                                    <div class="grid__item large--one-half text-center">
                                        <div class="product-single__photos" id="ProductPhoto">

                                            <img src="/img/product/hr.jpg" alt="" id="ProductPhotoImg">
                                        </div>
                                        <ul class="product-single__thumbnails grid-uniform owl-carousel owl-enable suplo-owl" id="ProductThumbs" data-items="4" data-desktop="[1240, 4]"
                                            data-mobile="[640, 3]">

                                            <li class="grid__item">
                                                <a href="/img/product/hr.jpg" class="product-single__thumbnail">
                                                    <img src="/img/product/hr.jpg" alt="">
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                    <div class="grid__item large--one-half">
                                        <h1 itemprop="name">HR Series (High Power )</h1>
                                        <span class="product-sku">
                                            Features:
                                            <ul>
                                                <li>
                                                    High discharge design to maintain large current float in UPS application
                                                </li>
                                                <li>
                                                    High utilization of the active material
                                                </li>
                                                <li>
                                                    High voltage
                                                </li>
                                                <li>
                                                    Low internal resistance
                                                </li>
                                            </ul>
                                        </span>
                                    </div>

                                    <div class="grid__item large--one-twelfths">
                                        <h1>Product Details</h1>
                                        <hr>
                                        <h1>Application</h1>
                                        <p>Float application</p>
                                        <ul>
                                            <li>
                                                Communications and power equipment
                                            </li>
                                            <li>
                                                Security and alarm system
                                            </li>
                                            <li>
                                                GPS
                                            </li>
                                            <li>
                                                Office use computer, microcomputer processor and OA equipment
                                            </li>
                                            <li>
                                                UPS / EPS power station
                                            </li>
                                            <li>
                                                Switching substation and power plant emergency system
                                            </li>
                                            <li>
                                                Medical equipment
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </main>
                </div>
                <% include ../partials/footer %>

                    <% include ../partials/scripts %>

    </body>

</html>